<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro vehiculos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header>
        <div class="btnUser">
            <button class="button">
                <img src="/assets/user.png" alt="Imagen" class="svgIcon">
            </button>
        </div>
        <div class="btnLogout">
            <button class="button">
                <img src="/assets/exit.png" alt="Imagen" class="svgIcon">
            </button>
        </div>
    </header>
    <div class="contenedor">
        <div class="cont-izq">
            <img src="/assets/logo_quikParkedHorizontal.png" alt="Imagen">
            <div class="switch-container">
                <div class="switch1">
                    <input type="radio" id="radio1" name="radioGroup" checked>
                    <label for="radio1">Carro</label>
                </div>
                <div class="switch2">
                    <input type="radio" id="radio2" name="radioGroup">
                    <label for="radio2">Moto</label>
                </div>
            </div>
            <form class="login-form">
                <div class="form-group">
                    <input type="text" class="form-control custom-input" id="placa" name="placa" placeholder="Placa"
                        [(ngModel)]="placa">
                </div>
                <div class="dropdown">
                    <button class="btn2 btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Tipo vehiculo
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" (click)="accion1()">Opción 1</a>
                        <a class="dropdown-item" href="#" (click)="accion2()">Opción 2</a>
                        <a class="dropdown-item" href="#" (click)="accion3()">Opción 3</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="ingresarPlaca()">Agregar</button>
            </form>
        </div>
        <hr class="linea">
        <div class="cont-der">
            <div class="tituloLista">
                <div class="titulo">
                    <h1>Lista de Carros</h1>
                </div>
            </div>
            <div class="cupos">
                <p class="cuposDisponibles">{{ cuposDisponibles }}</p>

                <p class="cuposReservados">{{ cuposReservados }}</p>
            </div>
            <div class="tablaVehiculos">
                <mat-table  [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="column1">
                      <th mat-header-cell *matHeaderCellDef>Vehiculo</th>
                      <td mat-cell *matCellDef="let element">{{ element.column1 }}</td>
                    </ng-container>
                    <ng-container matColumnDef="column2">
                        <th mat-header-cell *matHeaderCellDef> Tipo Vehiculo</th>
                        <td mat-cell *matCellDef="let element">{{ element.column2 }}</td>
                      </ng-container>
                      <ng-container matColumnDef="column3">
                        <th mat-header-cell *matHeaderCellDef>Placa</th>
                        <td mat-cell *matCellDef="let element">{{ element.column3 }}</td>
                      </ng-container>
                      <ng-container matColumnDef="column4">
                        <th mat-header-cell *matHeaderCellDef>Ingreso</th>
                        <td mat-cell *matCellDef="let element">{{ element.column4 }}</td>
                      </ng-container>
                      <ng-container matColumnDef="column5">
                        <th mat-header-cell *matHeaderCellDef>Tarifa</th>
                        <td mat-cell *matCellDef="let element">{{ element.column5 }}</td>
                      </ng-container>
                      <ng-container matColumnDef="column6">
                        <th mat-header-cell *matHeaderCellDef>Lugar</th>
                        <td mat-cell *matCellDef="let element">{{ element.column6 }}</td>
                      </ng-container>
                      <div class="columnastabla">
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                      </div>
                  
                </mat-table>
            </div>
            <div class="botonCobro">

            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>