<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Recuperar Contraseña</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container login-container">
        <div class="row">
            <div class="col-izq">
                <form class="login-form">
                    <img src="/assets/logo_quikParkedHorizontal.png" alt="Imagen">
                    
                    <div class="form-group">
                        <label for="username">No te preocupes ingresa con tu correo:</label>
                        <input type="text" class="form-control" id="username" placeholder="Correo">
                    </div>
                   
                    <button type="submit" class="btn btn-primary ">Recuperar</button>
                </form>
                <a href="/login">Logueate</a>

            </div>
            <div class="col-der">
                <img src="/assets/Login-image.jpg" alt="imagen login">
            </div>
        </div>
    </div>
    

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>